services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: youtube_sentiment_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
      - ./src:/app/src
      - ./data:/app/data
      - ./models:/app/models
    command: uv run uvicorn app.predict_model:app --host 0.0.0.0 --port 8000 --reload
