services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: youtube_sentiment_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
      - ./src:/app/src
      - ./data:/app/data
      - ./models:/app/models
      - ./mlruns:/app/mlruns
      - ./mlflow.db:/app/mlflow.db
    command: >
      uv run uvicorn app.predict_model:app
      --host 0.0.0.0 --port 8000 --reload
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - mlflow

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow_server
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --backend-store-uri sqlite:////app/mlflow.db
      --default-artifact-root /app/mlruns
      --host 0.0.0.0
      --port 5000
    volumes:
      - ./mlruns:/app/mlruns
      - ./mlflow.db:/app/mlflow.db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 10s
